.popup-container {
  color: #000;
  height: 1px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 1px;
  z-index: 1000000;
}

.popup-container-mask {
  background-color: transparent;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.popup-container-node {
  height: 1px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 1px;
}
