/* section --- 颜色 --- section */
$a-blue: #4c98f7;
$a-white: #fff;
$a-green: #009688;
$a-yellow: #ffb800;
$a-orange: #ff5722;
$a-background: #f8f8f8;
$a-font-grey: #606266;

$a-main-color: #303133;
$a-content-color: #606266;
$a-tips-color: #909399;
$a-light-color: #c0c4cc;
$a-border-color: #e4e7ed;
$a-bg-color: #f3f4f6;

$a-type-primary: #2979ff;
$a-type-primary-light: #ecf5ff;
$a-type-primary-disabled: #a0cfff;
$a-type-primary-dark: #2b85e4;

$a-type-warning: #f90;
$a-type-warning-disabled: #fcbd71;
$a-type-warning-dark: #f29100;
$a-type-warning-light: #fdf6ec;

$a-type-success: #19be6b;
$a-type-success-disabled: #71d5a1;
$a-type-success-dark: #18b566;
$a-type-success-light: #dbf1e1;

$a-type-error: #fa3534;
$a-type-error-disabled: #fab6b6;
$a-type-error-dark: #dd6161;
$a-type-error-light: #fef0f0;

$a-type-info: #909399;
$a-type-info-disabled: #c8c9cc;
$a-type-info-dark: #82848a;
$a-type-info-light: #f4f4f5;
